/* Global, basic, shared CSS file for the waterbits project
nme@20210521 
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pattaya&display=swap');

:root {
  --darker-colour: #777;
  --lighter-colour: #fff;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Arial Narrow', Helvetica, sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body,
html {
  height: 100%;
  max-width: 600px;
  min-width: 400px;
  margin: 50px 100px 50px 100px;
  color: var( --darker-colour);
  line-height: 1.8;
}

nav {
  background-color: var( --darker-colour);
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px;
}

nav>a {
  display: inline-block;
  font-size: 1.2rem;
  padding: 5px;
  text-transform: uppercase;
  color: var(--lighter-colour);
}

nav>a:link, nav>a:visited, nav>a:active {
  text-decoration: none;
}

nav>a:hover {
  background-color: var(--lighter-colour);
  color: var(--darker-colour);
}

/* website page introduction headers */
h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-size: 2rem;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

#services {
  min-width: 80vw;
}

#services_intro {
  font-style: italic;
  text-align: center;
}

#service_offer {
  border-color: var( --darker-colour);
  border-width: 1px;
  border-style: solid;
}

#service_affiliate {
  display: flex;
  flex-direction: row;
  border-color: var( --darker-colour);
  border-width: 1px;
  border-style: solid;
}

#service_affiliate>div {
  margin: 0 auto;
  width: 450px;
  padding: 5px;
}

#service_affiliate>div>a>img {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

@media (max-width: 800px) {
  #service_affiliate {
    flex-direction: column;
  }
  html,body {
    margin: 50px 5px 50px 5px;
  }
}